<h1 mat-dialog-title>New Button</h1>
<div mat-dialog-content>
    <p>Name</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <p>Sound file<span *ngIf="data.file">: {{data.file.name}}</span></p>
    <input #file type="file" [hidden]="true" accept="audio/*" (change)="setFile(file.files[0])">
    <button mat-button mat mat-raised-button color="accent"
         #upload (click)="file.click()">Upload file</button>

    
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>